@font-face{
	font-family: 'RibbonFont';
	src: url(../fonts/Ribbon131.otf);
}

@font-face{
	font-family: 'FortuneC-Italic';
	src: url(../fonts/FortuneC-Italic.otf);
}

@font-face{
	font-family: 'AcademyOldClassic';
	src: url(../fonts/AcademyOldClassic.ttf);
}

@font-face{
	font-family: 'SvyaznoySans';
	src: url(../fonts/SvyaznoySans.otf);
}


@font-face{
	font-family: 'PlayfairDisplay';
	src: url(../fonts/PlayfairDisplay.ttf);
}
