@import url('fonts.css');
@import url('footer.css');
@import url('index-style.css');
@import url('catalogue-style.css');


/* Common classes */
.flex-content-center{
	display: flex;
	justify-content: center;
}

.flex-content-s-b /* space-between */{
	display: flex; 
	justify-content: space-between;
}

.flex-content-s-a /* space-around */{
	display: flex; 
	justify-content: space-around;
}

body {
	background-color: #001628;/*#000049;*/
	min-width: 550px;
}

/* header */

#title {
	font-size: 50px; 
	color: gold;
	font-family: 'RibbonFont';
}

.navbar {
	padding-right: 7%;
	padding-left: 7%;
	background: linear-gradient(to right, #000550, #000928);
}

.nav-link:hover{
	transform: translateY(2px);
	color: orange;
}

.nav-link{
	font-size: 22px;
	font-family: 'Times New Roman';
}

.contacts-style .screen-padding {
	font-family: 'Times New Roman';
	color: #ddd;	
}

